<div class="contenedor-img">
  <div class="form-structor">
    <div class="logo-img">
      <img src="../../../assets/img/logo.jpeg" class="img-fluid" />
    </div>
    <div class="pronti">
      <h3 class="title-prontiapp">Desarrollado Por: <span>ProntiApp</span></h3>
    </div>
    <form [formGroup]="forma" (ngSubmit)="login()" class="signup">
      <div class="form-holder form-gropu">
        <!-- <input type="text" class="input" placeholder="Name" /> -->
        <input
          formControlName="email"
          type="email"
          class="input form-control"
          placeholder="Correo"
          [class.is-invalid]="
            validarCampos('email') || validarCampos('password')
          "
        />
        <input
          formControlName="password"
          type="password"
          class="input form-control"
          placeholder="Contraseña"
          [class.is-invalid]="
            validarCampos('email') || validarCampos('password')
          "
        />
        <div class="text-center mt-2 mb-2 text-danger">
          <small
            *ngIf="validarCampos('email') || validarCampos('password') || error"
          >
            Correo y / o contraseña incorrecta
          </small>
        </div>
      </div>
      <button type="submit" class="submit-btn">Iniciar Session</button>
    </form>
    <div class="login slide-up"></div>
  </div>
</div>
